* {
    box-sizing: border-box;
}
body {
    background: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchbar {
    display: flex;
    justify-content: center;
}

input[type="search"] {
    width: 500px;
    height: 50px;
    border: 2px solid #ccc;
    padding-left: 10px;
    margin-top: 25px;
    background-color: lightblue;
  }

.gallery {
    margin: auto;
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    grid-template-rows: 200px;
    grid-gap: 20px;
    justify-content: center;
}

